@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap');
@import './assets/styles/font-awesome.min.css';

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
}

a {
  &:hover {
    text-decoration: none;
  }
}
